{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

	<div id='content'>
		<div class="container">
		<blockquote>
	        <p>
	           <em>Шифр Цезаря один из наиболее древнейших известных шифров. 	  Схема шифрования очень проста -
					используется сдвиг буквы алфавита на фиксированное число позиций. Используемое преобразование обычно
					обозначают как ROTN, где N - сдвиг, ROT - сокращение от слова ROTATE, в данном случае “циклический
					сдвиг”. Введите N(число от 0 до 26) в поле для ввода и зашифруйте или расшифруйте ваш текст. Так же вам будет выведена частотная диаграмма символов, встречающихся в вашем тексте.
				</em>
	        </p>
        </blockquote>
			<div class="row">

				<div class='col-md-5'>
					<div class="form-group">
					  <label for="comment">Write:</label>
					  <textarea class="form-control" rows="10" id="write"></textarea>
					</div>
				</div>

				<div class="col-md-2">
					<div class="row" style="margin-top: 150px">
						<button type="button" onclick="codeText(), graph()" class="btn btn-success">Code</button>
						<input type="text" id="rotate" style="width: 30px;">
						<button type="button" onclick="uncodeText(), graph()" class="btn btn-danger">Uncode</button>
					</div>
					<div class="row">
						<button type="button" onclick="scan()" class="btn btn-primary" style="margin-top: 5px;">Intellectual Scan!!!</button>
					</div>
				</div>

				<div class='col-md-5'>
					<div class="form-group">
					  <label for="comment">Read:</label>
					  <textarea readonly class="form-control" rows="10" id="read">
					  </textarea>
					</div>
				</div>

			</div>
		</div>
	</div>


<div id="chartContainer" style="height: 300px; width: 100%;"></div>








{% endblock %}


{% block extra_script %}
    <script type="text/javascript"src="{% static "js/cezar.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.canvasjs.min.js" %}"></script>
{% endblock %}
